*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Nunito', sans-serif;
  color: #121212;
  font-weight: 400; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 70%; }

.wrapper-1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.wrapper-2 {
  margin-left: auto;
  margin-right: auto;
  width: 65%; }

a, a:active, a:hover, a:visited {
  text-decoration: none; }

.nav {
  height: 10rem;
  background-color: #121212; }
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem; }
    .nav__container__logo__icon {
      font-size: 8rem;
      color: #D9B08C; }
    .nav__container__list {
      display: flex;
      list-style: none;
      justify-content: space-between; }
      .nav__container__list__item {
        color: #D9B08C;
        font-size: 2rem;
        white-space: nowrap; }
        .nav__container__list__item:not(:last-child) {
          margin-right: 2rem; }

.project__container {
  position: relative;
  height: 100vh; }
  .project__container__box {
    display: flex;
    justify-content: space-around; }
    .project__container__box:not(:last-child) {
      margin-bottom: 10rem; }
    .project__container__box__left {
      flex: 0 0 30%; }
      .project__container__box__left__img {
        width: 100%; }
    .project__container__box__inner {
      flex: 0 0 30%; }
    .project__container__box__right {
      flex: 0 0 30%; }
      .project__container__box__right__img {
        width: 100%; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.home__page {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .home__page__top {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .home__page__top__sudo {
      display: block;
      height: 35%;
      width: 2px;
      background-color: #121212;
      position: absolute;
      top: 10rem; }
      .home__page__top__sudo::before {
        content: "";
        display: block;
        height: 0;
        width: 2px;
        background-color: #FFCB9A; }
      .home__page__top__sudo.active::before {
        height: 100%;
        transition: all 4.5s; }
    .home__page__top__box {
      position: relative; }
      .home__page__top__box__text {
        text-transform: capitalize;
        font-size: 4rem;
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
        transition-delay: 5s;
        white-space: nowrap;
        color: #101d2c;
        transform: translate(8rem, -3rem); }
        .home__page__top__box__text.active {
          opacity: 1;
          visibility: visible; }
  .home__page__bottom {
    align-self: flex-end;
    height: 50%;
    width: 100%;
    background-image: url("/img/creativity-819371.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    overflow: hidden; }
    .home__page__bottom__sudo {
      display: flex;
      align-items: flex-end;
      width: 5%;
      height: 600%;
      background-color: #FFCB9A; }
      .home__page__bottom__sudo.delay4 {
        height: 0rem; }
  .home__page__horisontal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90vh; }
  .home__page__left {
    width: 48%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative; }
    .home__page__left__sudo {
      position: absolute;
      left: 0;
      height: 1px;
      width: 0;
      background-color: #FFCB9A; }
      .home__page__left__sudo.active {
        width: 100%;
        transition: all 5s; }
    .home__page__left__box__icon {
      font-size: 13rem;
      opacity: 1;
      visibility: visible;
      transition: all 3.5s;
      margin-right: 3rem; }
      .home__page__left__box__icon.active {
        opacity: 0;
        visibility: hidden; }
    .home__page__left__box__text {
      color: #101d2c;
      text-transform: capitalize;
      font-size: 4rem;
      visibility: hidden;
      opacity: 0;
      transition: all 1s;
      transition-delay: 5s;
      white-space: nowrap;
      transform: translate(3rem, 8rem) rotate(270deg); }
      .home__page__left__box__text.active {
        opacity: 1;
        visibility: visible; }
  .home__page__right {
    border: 1px solid #fff;
    width: 50%;
    background-image: url("/img/creativity-819371.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden; }
    .home__page__right__sudo {
      width: 600%;
      height: 10%;
      background-color: #FFCB9A; }
      .home__page__right__sudo.active {
        width: 0;
        transition: 3s; }

.home {
  background-color: #121212;
  height: 99.6vh;
  position: relative; }

.about {
  padding: 15rem 0;
  background-color: #121212;
  display: flex;
  flex-direction: column; }
  .about__box {
    padding-bottom: 5rem;
    align-self: center;
    color: #777;
    font-size: 3rem;
    position: relative; }
    .about__box__header {
      position: absolute;
      white-space: nowrap;
      left: 50%;
      transform: translate(-50%, -50%); }
      .about__box__header-2 {
        white-space: nowrap;
        position: absolute;
        left: 50%;
        font-size: 3.4rem;
        transform: translate(-60%, -110%);
        filter: opacity(5%); }
  .about__container {
    display: flex;
    position: relative; }
  .about__left {
    flex: 0 0 40%;
    position: relative;
    box-shadow: 5px 5px 12px 2px #130e0e;
    transform: translateX(-20rem);
    transition: all 2s;
    opacity: 0;
    visibility: hidden; }
    .about__left.active {
      transform: translateX(0rem);
      opacity: 1;
      visibility: visible; }
    .about__left__img1 {
      border-radius: 10px;
      top: 0;
      width: 100%;
      position: absolute;
      filter: opacity(30%);
      opacity: 0;
      transition: all 3s;
      transition-delay: 1s; }
      .about__left__img1.active {
        opacity: 1; }
    .about__left__img2 {
      border-radius: 10px;
      width: 100%;
      position: absolute;
      top: 0;
      opacity: 1;
      transition: all 3s;
      transition-delay: 1s; }
      .about__left__img2.active {
        opacity: 0; }
  .about__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%; }
    .about__right__top {
      display: flex;
      justify-items: center; }
    .about__right__bottom {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      width: 100%; }
    .about__right__line {
      background-color: #292929;
      height: 2px;
      width: 100%;
      position: absolute; }
    .about__right__html {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      transform: translateY(-10rem);
      opacity: 0;
      visibility: hidden;
      transition: all 1s;
      transition-delay: 1s; }
      .about__right__html.active {
        transform: translateY(0rem);
        opacity: 1;
        visibility: visible; }
      .about__right__html__main {
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right bottom, #0c3347, #031118);
        color: #fff;
        width: 18rem;
        height: 18rem;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 0 0 0 rgba(12, 51, 71, 0.5);
        -webkit-animation: none; }
        .about__right__html__main:hover {
          -webkit-animation: pulse 1.5s infinite; }
      .about__right__html__secondary {
        cursor: pointer;
        position: relative;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(to right bottom, #125e85, #051924);
        color: #fff;
        box-shadow: 5px 5px 12px 2px #130e0e;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
        -webkit-animation: orbit2 2s infinite linear;
        -webkit-animation-fill-mode: forwards;
        position: absolute;
        top: -50%;
        left: 10%; }
        .about__right__html__secondary.active {
          visibility: visible;
          opacity: 1; }
    .about__right__css {
      cursor: pointer;
      position: relative;
      transform: translateX(-10rem);
      opacity: 0;
      visibility: hidden;
      transition: all 1.5s;
      transition-delay: 1s; }
      .about__right__css.active {
        transform: translateX(0rem);
        opacity: 1;
        visibility: visible; }
      .about__right__css__main {
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right bottom, #6d1830, #240513);
        color: #fff;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 0 0 0 rgba(109, 24, 48, 0.5);
        -webkit-animation: none; }
        .about__right__css__main:hover {
          -webkit-animation: pulse 1.5s infinite; }
      .about__right__css__secondary1 {
        cursor: pointer;
        position: relative;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(to right bottom, #773a3b, #460505);
        color: #fff;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
        -webkit-animation: orbit2 2s infinite linear;
        -webkit-animation-delay: .5s;
        position: absolute;
        top: -50%;
        left: -30%;
        box-shadow: 5px 5px 12px 2px #130e0e; }
        .about__right__css__secondary1.active {
          visibility: visible;
          opacity: 1; }
      .about__right__css__secondary2 {
        cursor: pointer;
        position: relative;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(to right bottom, #3f1127, #200412);
        color: #fff;
        box-shadow: 5px 5px 12px 2px #130e0e;
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
        -webkit-animation: orbit3 2.6s infinite linear;
        -webkit-animation-delay: .9s;
        position: absolute;
        top: 130%;
        left: 10%; }
        .about__right__css__secondary2.active {
          visibility: visible;
          opacity: 1; }
      .about__right__css__secondary3 {
        cursor: pointer;
        position: relative;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(to right bottom, #681c3f, #2e0e1d);
        color: #fff;
        box-shadow: 5px 5px 12px 2px #130e0e;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
        -webkit-animation: orbit2 3.5s infinite linear;
        -webkit-animation-delay: .1s;
        position: absolute;
        top: -50%;
        left: 100%; }
        .about__right__css__secondary3.active {
          visibility: visible;
          opacity: 1; }
    .about__right__javascript {
      position: relative;
      transform: translateX(17rem);
      opacity: 0;
      visibility: hidden;
      transition: all 1.5s;
      transition-delay: 1s; }
      .about__right__javascript.active {
        transform: translateX(7rem);
        opacity: 1;
        visibility: visible; }
      .about__right__javascript__main {
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right bottom, #0b4041, #011213);
        color: #fff;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 0 0 0 rgba(11, 64, 65, 0.5);
        -webkit-animation: none; }
        .about__right__javascript__main:hover {
          -webkit-animation: pulse 1.5s infinite; }
      .about__right__javascript__secondary1 {
        cursor: pointer;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(to right bottom, #104a4b, #062122);
        color: #fff;
        box-shadow: 5px 5px 12px 2px #130e0e;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
        -webkit-animation: orbit3 2.5s infinite linear;
        -webkit-animation-delay: .5s;
        position: absolute;
        top: -50%;
        left: 100%; }
        .about__right__javascript__secondary1.active {
          visibility: visible;
          opacity: 1; }
      .about__right__javascript__secondary2 {
        cursor: pointer;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(to right bottom, #203b3b, #041414);
        color: #fff;
        box-shadow: 5px 5px 12px 2px #130e0e;
        border-radius: 50%;
        width: 9rem;
        height: 9rem;
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
        -webkit-animation: orbit2 3s infinite linear;
        -webkit-animation-delay: .5s;
        position: absolute;
        top: 110%;
        left: 70%; }
        .about__right__javascript__secondary2.active {
          visibility: visible;
          opacity: 1; }
      .about__right__javascript__secondary3 {
        cursor: pointer;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(to right bottom, #007274, #001e1f);
        color: #fff;
        box-shadow: 5px 5px 12px 2px #130e0e;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
        -webkit-animation: orbit2 2.2s infinite linear;
        -webkit-animation-delay: .2s;
        position: absolute;
        top: -35%;
        left: -30%; }
        .about__right__javascript__secondary3.active {
          visibility: visible;
          opacity: 1; }
  .about__me {
    color: #f0eeee;
    margin-top: 10rem; }
    .about__me__box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5rem; }
      .about__me__box__header {
        flex: 0 0 30%;
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 2;
        transform: translateX(-15rem);
        opacity: 0;
        transition: all 1s; }
        .about__me__box__header.active {
          transform: translateX(0rem);
          opacity: 1; }
      .about__me__box__text {
        flex: 0 0 60%;
        font-family: 'Merriweather', serif;
        font-size: 1.8rem;
        letter-spacing: 1px;
        line-height: 2.5;
        text-align: center;
        transform: translateX(15rem);
        opacity: 0;
        transition: all 1s; }
        .about__me__box__text.active {
          transform: translateX(0);
          opacity: 1; }

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  70% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 5rem rgba(12, 51, 71, 0); }
  100% {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(12, 51, 71, 0); } }

@-webkit-keyframes rot {}@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateX(2rem) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(2rem) rotate(-360deg); } }

@keyframes orbit3 {
  from {
    transform: rotate(0deg) translateX(1.5rem) rotate(-360deg); }
  to {
    transform: rotate(-360deg) translateX(1.5rem) rotate(0deg); } }
