*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Poppins', sans-serif;
  color: #121212;
  font-weight: 400; }

html, body {
  width: 100%;
  overflow-x: hidden; }

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 70%; }

.wrapper-1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.wrapper-2 {
  margin-left: auto;
  margin-right: auto;
  width: 65%; }

a, a:active, a:hover, a:visited {
  text-decoration: none; }

.nav {
  height: 100%;
  width: 10rem;
  position: fixed;
  z-index: 500;
  background-color: transparent;
  transition: all .5s;
  display: block;
  z-index: 41; }
  .nav.active {
    background-color: #DAD9D6; }
  @media only screen and (max-width: 50em) {
    .nav {
      width: 100%;
      height: 8rem; } }
  .nav__pointer {
    cursor: pointer;
    display: block; }
  .nav__checkbox {
    display: none; }
  .nav__button {
    text-align: center;
    position: relative;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(1rem);
    z-index: 47;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; }
    @media only screen and (max-width: 50em) {
      .nav__button {
        transform: translateY(-1rem); } }
    .nav__button__text {
      font-size: 1.5rem;
      color: #F15B3F;
      text-transform: uppercase;
      transform: translate(-1rem, 3rem);
      position: relative;
      z-index: 47; }
    .nav__button__icon {
      top: 50%;
      left: 50%;
      position: absolute;
      width: 4rem;
      left: 0;
      z-index: 47; }
      .nav__button__icon, .nav__button__icon::before, .nav__button__icon::after {
        height: 2px;
        background-color: #F15B3F;
        display: inline-block;
        transition: all .3s; }
      .nav__button__icon::before, .nav__button__icon::after {
        content: "";
        position: absolute; }
      .nav__button__icon::before {
        width: 3rem;
        top: -.8rem;
        left: 0; }
      .nav__button__icon::after {
        width: 2rem;
        top: .8rem;
        left: 0; }
  .nav__button:hover .nav__button__icon {
    width: 3rem; }
  .nav__button:hover .nav__button__icon::before {
    top: -1rem;
    width: 4rem; }
  .nav__button:hover .nav__button__icon::after {
    top: 1rem;
    width: 4rem; }
  .nav__checkbox:checked + .nav__button .nav__button__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__button .nav__button__icon::before {
    transform: rotate(45deg);
    top: 0;
    width: 4rem; }
  .nav__checkbox:checked + .nav__button .nav__button__icon::after {
    transform: rotate(-45deg);
    top: 0;
    width: 4rem; }
  .nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem 5rem; }
    @media only screen and (max-width: 50em) {
      .nav__container {
        flex-direction: row;
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .nav__container {
        padding: .5rem 2.5rem; } }
    .nav__container__logo__icon {
      font-size: 8rem;
      color: #F15B3F;
      position: relative;
      z-index: 50; }
      @media only screen and (max-width: 50em) {
        .nav__container__logo__icon {
          font-size: 6rem; } }
      @media only screen and (max-width: 37.5em) {
        .nav__container__logo__icon {
          font-size: 6rem; } }
    .nav__container__list {
      flex: 0 0 35%;
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      z-index: 50; }
      @media only screen and (max-width: 50em) {
        .nav__container__list {
          flex-direction: row; } }
      @media only screen and (max-width: 37.5em) {
        .nav__container__list {
          display: none; } }
      .nav__container__list__link, .nav__container__list__link:visited .nav__container__list__link:hover, .nav__container__list__link:active {
        color: inherit; }
      .nav__container__list__item {
        color: #F15B3F;
        font-size: 1.7rem;
        font-weight: 700;
        white-space: nowrap;
        transform: rotate(-90deg);
        position: relative;
        z-index: 50; }
        @media only screen and (max-width: 50em) {
          .nav__container__list__item {
            transform: rotate(0deg); } }
        @media only screen and (max-width: 50em) {
          .nav__container__list__item:not(:last-child) {
            margin-right: 2rem; } }

.horisontal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 40; }
  @media only screen and (max-width: 56.25em) {
    .horisontal {
      height: 100vh; } }
  .horisontal__box {
    flex: 1;
    margin-left: 10rem;
    height: 100%;
    width: calc(100% -10rem);
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .horisontal__box {
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .horisontal__box {
        margin-left: 5rem; } }
    .horisontal__box__list {
      list-style: none;
      text-transform: uppercase;
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: -1;
      margin-left: 25rem; }
      .horisontal__box__list.active {
        position: fixed;
        z-index: 41; }
      @media only screen and (max-width: 56.25em) {
        .horisontal__box__list {
          margin-left: 15rem; } }
      @media only screen and (max-width: 50em) {
        .horisontal__box__list {
          width: 80%;
          margin-left: auto;
          margin-right: auto; } }
      .horisontal__box__list__item {
        flex: 0 0 33%;
        text-align: center;
        font-weight: 900;
        visibility: hidden;
        opacity: 0;
        position: relative;
        z-index: 41;
        text-shadow: -1rem -1rem 5px #333; }
        .horisontal__box__list__item.active {
          visibility: visible;
          opacity: 1; }
        .horisontal__box__list__item:not(:last-child) {
          margin-bottom: 3rem; }
      .horisontal__box__list__link {
        color: #fff;
        font-size: 7rem; }
        @media only screen and (max-width: 25em) {
          .horisontal__box__list__link {
            font-size: 5rem; } }
    .horisontal__box__cover {
      height: 100%;
      width: 0;
      background-color: #0b4041;
      display: block;
      position: fixed;
      right: 0;
      top: 0;
      transition: all .5s;
      z-index: 40;
      filter: opacity(95%); }
      .horisontal__box__cover.active {
        width: calc(100% - 10rem); }
        @media only screen and (max-width: 50em) {
          .horisontal__box__cover.active {
            width: 100%; } }

.vertical {
  height: 0;
  width: 10rem;
  background-color: #0b4041;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  transition: all .4s;
  z-index: 45;
  filter: opacity(95%); }
  .vertical.active {
    height: 100%; }
    @media only screen and (max-width: 50em) {
      .vertical.active {
        height: 8rem; } }
  @media only screen and (max-width: 50em) {
    .vertical {
      width: 0;
      height: 8rem; }
      .vertical.active {
        width: 100%; } }

.project {
  background-color: #121212;
  position: relative;
  width: 100%; }
  @media only screen and (max-width: 62.5em) {
    .project {
      padding-top: 3rem; } }
  .project__container {
    width: calc(100% - 10rem);
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10rem; }
    @media only screen and (max-width: 87.5em) {
      .project__container {
        margin-left: 0; } }
    @media only screen and (max-width: 50em) {
      .project__container {
        width: 100%; } }
    .project__container__box {
      display: flex;
      justify-content: flex-start;
      margin-left: 7rem;
      padding-bottom: 10rem;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent; }
      @media only screen and (max-width: 37.5em) {
        .project__container__box {
          margin-left: 0;
          justify-content: center; } }
      @media only screen and (max-width: 31.25em) {
        .project__container__box {
          padding-bottom: 5rem; } }
      .project__container__box-reverse {
        display: flex;
        justify-content: flex-end;
        margin-right: 7rem;
        padding-bottom: 10rem; }
        @media only screen and (max-width: 37.5em) {
          .project__container__box-reverse {
            margin-right: 0;
            justify-content: center; } }
        @media only screen and (max-width: 31.25em) {
          .project__container__box-reverse {
            padding-bottom: 5rem; } }
      .project__container__box__top {
        position: fixed;
        right: 0;
        top: 0;
        height: 50%;
        width: 0;
        background-color: #292929;
        transition: all 1.3s;
        z-index: 1000; }
        .project__container__box__top.active {
          width: 100%;
          transition-timing-function: cubic-bezier(0.9, -0.01, 0.89, 0.35); }
        .project__container__box__top.active2 {
          height: 0;
          transition-timing-function: cubic-bezier(0.9, -0.01, 0.89, 0.35); }
      .project__container__box__mid {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: all 1.5s;
        z-index: 1001; }
        .project__container__box__mid.active {
          width: 100%; }
      .project__container__box__bot {
        position: fixed;
        right: 0;
        bottom: 0;
        height: 50%;
        width: 0;
        background-color: #292929;
        transition: all 1.3s;
        z-index: 1000; }
        .project__container__box__bot.active {
          width: 100%;
          transition-timing-function: cubic-bezier(0.9, -0.01, 0.89, 0.35); }
        .project__container__box__bot.active2 {
          height: 0;
          transition-timing-function: cubic-bezier(0.9, -0.01, 0.89, 0.35); }
      .project__container__box__left {
        height: 100%;
        margin-left: 10rem;
        flex: 0 0 40%;
        display: flex;
        object-fit: cover;
        transform: translateY(10rem);
        transition: all .4s;
        position: relative;
        cursor: pointer; }
        .project__container__box__left.active {
          transform: translateY(0rem);
          opacity: 1; }
        .project__container__box__left.active2 {
          transform: translateY(-10rem);
          opacity: 0; }
        @media only screen and (max-width: 50em) {
          .project__container__box__left {
            margin-left: 5rem;
            flex: 0 0 60%; } }
        @media only screen and (max-width: 37.5em) {
          .project__container__box__left {
            margin-left: 0; } }
        @media only screen and (max-width: 31.25em) {
          .project__container__box__left {
            flex-direction: column-reverse; } }
        .project__container__box__left__img {
          width: 70%;
          height: 100%;
          flex: 0 0 55%;
          transition: all .4s;
          margin-left: 5rem;
          display: block;
          overflow: hidden;
          -webkit-transform: scale(1);
          filter: blur(5px) brightness(65%) grayscale(70%); }
          .project__container__box__left__img.active {
            -webkit-transform: scale(1.1) translateX(-3rem);
            filter: blur(0px) brightness(100%); }
          @media only screen and (max-width: 50em) {
            .project__container__box__left__img {
              margin-left: 0; } }
        .project__container__box__left__text {
          flex: 0 0 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          color: #fff;
          position: relative;
          z-index: 10; }
          .project__container__box__left__text__header {
            font-size: 5rem;
            font-weight: 800;
            text-transform: uppercase;
            transform: translateX(-2rem);
            letter-spacing: 2px;
            transition: all .4s;
            line-height: -1.5; }
            .project__container__box__left__text__header.active {
              transform: translate(6rem, -3rem); }
            @media only screen and (max-width: 50em) {
              .project__container__box__left__text__header {
                font-size: 3.5rem; } }
          .project__container__box__left__text__view {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            font-family: 'Kanit', sans-serif;
            transition: all .4s; }
            .project__container__box__left__text__view.active {
              transform: translateX(4rem);
              font-size: 2.2rem; }
          .project__container__box__left__text__span {
            height: 1px;
            width: 3rem;
            display: inline-block;
            background-color: #fff;
            margin-right: 1rem;
            transition: all .4s; }
            .project__container__box__left__text__span.active {
              width: 7rem;
              height: 1.5px;
              background-color: #FF2C40; }
      .project__container__box__right {
        height: 100%;
        margin-right: 15rem;
        flex: 0 0 40%;
        display: flex;
        object-fit: cover;
        transform: translateY(10rem);
        transition: all .4s;
        position: relative;
        cursor: pointer; }
        .project__container__box__right.active {
          transform: translateY(0rem);
          opacity: 1; }
        .project__container__box__right.active2 {
          transform: translateY(-10rem);
          opacity: 0; }
        @media only screen and (max-width: 50em) {
          .project__container__box__right {
            margin-left: 0;
            flex: 0 0 60%; } }
        @media only screen and (max-width: 31.25em) {
          .project__container__box__right {
            flex-direction: column;
            margin-right: 0; } }
        .project__container__box__right__img {
          width: 70%;
          height: 100%;
          flex: 0 0 55%;
          transition: all .4s;
          margin-right: 5rem;
          overflow: hidden;
          -webkit-transform: scale(1);
          filter: blur(5px) brightness(70%) grayscale(70%); }
          .project__container__box__right__img.active {
            -webkit-transform: scale(1.1) translateX(3rem);
            filter: blur(0px) brightness(150%); }
          @media only screen and (max-width: 31.25em) {
            .project__container__box__right__img {
              margin-right: 0; } }
        .project__container__box__right__text {
          flex: 0 0 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          color: #fff; }
          .project__container__box__right__text__header {
            font-size: 5rem;
            font-weight: 800;
            text-transform: uppercase;
            transform: translateX(2rem);
            letter-spacing: 2px;
            transition: all .4s;
            text-align: right;
            position: relative;
            z-index: 1; }
            .project__container__box__right__text__header.active {
              transform: translate(-6rem, -4rem); }
            @media only screen and (max-width: 50em) {
              .project__container__box__right__text__header {
                font-size: 3.5rem; } }
          .project__container__box__right__text__view {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            transition: all .4s; }
            .project__container__box__right__text__view.active {
              transform: translateX(-4rem);
              font-size: 2.2rem; }
          .project__container__box__right__text__span {
            height: 1px;
            width: 3rem;
            display: inline-block;
            background-color: #fff;
            margin-left: 1rem;
            transition: all .4s; }
            .project__container__box__right__text__span.active {
              width: 7rem;
              height: 1.5px;
              background-color: #FF2C40; }

.modal {
  display: none;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url("/img/laptop-1.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  overflow: scroll; }
  .modal.active {
    display: block; }
  .modal__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .modal__box__front {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 15rem; }
      @media only screen and (max-width: 56.25em) {
        .modal__box__front {
          padding: 0 5rem; } }
      .modal__box__front__top {
        display: flex;
        justify-content: space-between;
        font-size: 3rem; }
        .modal__box__front__top__logo {
          letter-spacing: 2px; }
        .modal__box__front__top__home {
          position: fixed;
          top: 5rem;
          right: 15rem;
          text-transform: uppercase;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          font-weight: 600;
          cursor: pointer;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-tap-highlight-color: transparent;
          z-index: 100;
          background-color: #F15B3F;
          color: #F6F9FB;
          border-radius: 50%;
          margin: 0 auto;
          height: 8rem;
          width: 8rem; }
          @media only screen and (max-width: 75em) {
            .modal__box__front__top__home {
              top: 12rem; } }
          @media only screen and (max-width: 62.5em) {
            .modal__box__front__top__home {
              right: 8rem;
              top: 11rem; } }
          @media only screen and (max-width: 56.25em) {
            .modal__box__front__top__home {
              right: 5rem; } }
          @media only screen and (max-width: 50em) {
            .modal__box__front__top__home {
              right: 3rem; } }
          @media only screen and (max-width: 43.75em) {
            .modal__box__front__top__home {
              top: 8rem;
              right: 3rem; } }
          @media only screen and (max-width: 37.5em) {
            .modal__box__front__top__home {
              height: 6.5rem;
              width: 6.5rem;
              font-size: 1.8rem;
              padding: 2rem .8rem; } }
      .modal__box__front__mid {
        display: flex;
        justify-content: center; }
        .modal__box__front__mid__year {
          font-size: 1.8rem;
          font-weight: 600; }
        .modal__box__front__mid__header {
          font-size: 22rem;
          text-transform: uppercase; }
          @media only screen and (max-width: 87.5em) {
            .modal__box__front__mid__header {
              font-size: 19.5rem; } }
          @media only screen and (max-width: 62.5em) {
            .modal__box__front__mid__header {
              font-size: 15rem; } }
          @media only screen and (max-width: 56.25em) {
            .modal__box__front__mid__header {
              font-size: 13rem; } }
          @media only screen and (max-width: 50em) {
            .modal__box__front__mid__header {
              font-size: 12rem; } }
          @media only screen and (max-width: 37.5em) {
            .modal__box__front__mid__header {
              font-size: 8rem; } }
          @media only screen and (max-width: 31.25em) {
            .modal__box__front__mid__header {
              font-size: 6rem; } }
          @media only screen and (max-width: 25em) {
            .modal__box__front__mid__header {
              font-size: 5rem; } }
      .modal__box__front__bot {
        display: flex;
        justify-content: space-between; }
        .modal__box__front__bot__link {
          color: inherit; }
          .modal__box__front__bot__link:visited {
            color: inherit; }
        .modal__box__front__bot__view {
          font-size: 3rem;
          text-transform: capitalize;
          font-weight: 600;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-tap-highlight-color: transparent; }
        .modal__box__front__bot__open {
          font-size: 3rem;
          text-transform: capitalize;
          font-weight: 600;
          text-align: right;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-tap-highlight-color: transparent; }
    .modal__box__project {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      margin-bottom: 10rem; }
      @media only screen and (max-width: 75em) {
        .modal__box__project {
          flex-direction: column; } }
      .modal__box__project__left {
        flex: 0 0 40%; }
        @media only screen and (max-width: 75em) {
          .modal__box__project__left {
            flex: 0; } }
        .modal__box__project__left__header {
          font-size: 10rem;
          text-transform: capitalize;
          text-align: center;
          padding: 3rem; }
          @media only screen and (max-width: 75em) {
            .modal__box__project__left__header {
              text-align: center; } }
          @media only screen and (max-width: 56.25em) {
            .modal__box__project__left__header {
              font-size: 13rem; } }
          @media only screen and (max-width: 50em) {
            .modal__box__project__left__header {
              font-size: 12rem; } }
          @media only screen and (max-width: 37.5em) {
            .modal__box__project__left__header {
              font-size: 8rem; } }
          @media only screen and (max-width: 31.25em) {
            .modal__box__project__left__header {
              font-size: 6rem; } }
          @media only screen and (max-width: 25em) {
            .modal__box__project__left__header {
              font-size: 5rem; } }
        .modal__box__project__left__text {
          font-size: 2rem;
          line-height: 1.8;
          height: 100%;
          margin-bottom: 3rem;
          text-align: center; }
          @media only screen and (max-width: 75em) {
            .modal__box__project__left__text {
              width: 80%;
              margin-left: auto;
              margin-right: auto;
              text-align: center; } }
          @media only screen and (max-width: 37.5em) {
            .modal__box__project__left__text {
              font-size: 1.9rem; } }
          @media only screen and (max-width: 31.25em) {
            .modal__box__project__left__text {
              font-size: 1.8rem;
              line-height: 1.2; } }
      .modal__box__project__right {
        flex: 0 0 40%;
        position: relative; }
        @media only screen and (max-width: 75em) {
          .modal__box__project__right {
            width: 60%;
            margin-left: auto;
            margin-right: auto; } }
        @media only screen and (max-width: 50em) {
          .modal__box__project__right {
            width: 80%;
            margin-left: auto;
            margin-right: auto; } }
        .modal__box__project__right__reverse {
          flex: 0 0 15%;
          position: relative; }
          @media only screen and (max-width: 75em) {
            .modal__box__project__right__reverse {
              width: 60%;
              margin-left: auto;
              margin-right: auto; } }
        .modal__box__project__right__img {
          width: 100%; }

.home {
  background-color: #121212;
  height: 100vh;
  position: relative; }

.home__page {
  width: calc(100% -10rem);
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .home__page__container {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -45%);
    overflow: hidden;
    display: flex; }
    @media only screen and (max-width: 50em) {
      .home__page__container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    .home__page__container__center {
      display: flex;
      align-items: center;
      opacity: 1; }
      .home__page__container__center__letter {
        opacity: 1;
        height: 100%;
        line-height: 0.76;
        color: #F15B3F;
        font-size: 23rem;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        margin-right: 1rem;
        transition: all 1s; }
        .home__page__container__center__letter.active {
          transition-timing-function: cubic-bezier(0.9, -0.01, 0.89, 0.35);
          transform: translateY(30rem); }
        @media only screen and (max-width: 87.5em) {
          .home__page__container__center__letter {
            font-size: 19.5rem; } }
        @media only screen and (max-width: 62.5em) {
          .home__page__container__center__letter {
            font-size: 15rem; } }
        @media only screen and (max-width: 56.25em) {
          .home__page__container__center__letter {
            font-size: 13rem; } }
        @media only screen and (max-width: 50em) {
          .home__page__container__center__letter {
            font-size: 12rem; } }
        @media only screen and (max-width: 37.5em) {
          .home__page__container__center__letter {
            font-size: 8rem; } }
        @media only screen and (max-width: 31.25em) {
          .home__page__container__center__letter {
            font-size: 6rem; } }
        @media only screen and (max-width: 25em) {
          .home__page__container__center__letter {
            font-size: 5rem; } }
      .home__page__container__center__space {
        width: 5rem; }
  .home__page__picture {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 75em) {
      .home__page__picture {
        display: inline-block;
        float: right; } }
    .home__page__picture__box {
      object-fit: cover;
      flex: 0 0 24%;
      justify-self: flex-start;
      align-self: flex-start;
      position: relative; }
      @media only screen and (max-width: 75em) {
        .home__page__picture__box {
          position: absolute;
          width: 30%;
          top: 0;
          left: 0; } }
      @media only screen and (max-width: 43.75em) {
        .home__page__picture__box {
          display: none; } }
      .home__page__picture__box-2 {
        object-fit: cover;
        flex: 0 0 28%;
        justify-self: flex-start;
        align-self: flex-end;
        position: relative; }
        @media only screen and (max-width: 75em) {
          .home__page__picture__box-2 {
            position: absolute;
            width: 60%;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%); } }
        @media only screen and (max-width: 43.75em) {
          .home__page__picture__box-2 {
            width: 70%;
            top: 30%;
            left: 30%; } }
        @media only screen and (max-width: 31.25em) {
          .home__page__picture__box-2 {
            width: 80%; } }
      .home__page__picture__box-3 {
        object-fit: cover;
        flex: 0 0 37%;
        justify-self: flex-start;
        align-self: flex-start;
        position: relative; }
        @media only screen and (max-width: 75em) {
          .home__page__picture__box-3 {
            position: absolute;
            width: 50%;
            top: 0;
            right: 0; } }
        @media only screen and (max-width: 43.75em) {
          .home__page__picture__box-3 {
            position: absolute;
            width: 50%;
            top: 60%;
            right: 20%; } }
        @media only screen and (max-width: 31.25em) {
          .home__page__picture__box-3 {
            width: 65%;
            top: 65%; } }
      .home__page__picture__box__img {
        width: 100%;
        filter: opacity(15%) grayscale(100%); }
      .home__page__picture__box__cover {
        height: 100%;
        width: 0;
        background-color: #121212;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 1s; }
        .home__page__picture__box__cover.active {
          width: 100%;
          transition-timing-function: cubic-bezier(0.74, 0, 0.12, 0.95); }

.footer {
  background-color: #292929; }
  .footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    position: relative; }
    @media only screen and (max-width: 50em) {
      .footer__contact {
        flex-direction: column; } }
    .footer__contact__form {
      display: flex;
      flex: 0 0 50%;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 75em) {
        .footer__contact__form {
          margin-bottom: 5rem;
          flex: 0 0 60%;
          width: 60%; } }
      @media only screen and (max-width: 50em) {
        .footer__contact__form {
          margin-bottom: 5rem;
          flex: 0 0 80%;
          justify-content: center;
          flex-direction: column; } }
      @media only screen and (max-width: 37.5em) {
        .footer__contact__form {
          width: 68%; } }
      .footer__contact__form__left {
        display: flex;
        flex-direction: column;
        flex: 1; }
        @media only screen and (max-width: 75em) {
          .footer__contact__form__left {
            flex: 0 0 70%; } }
        @media only screen and (max-width: 50em) {
          .footer__contact__form__left {
            width: 100%; } }
      .footer__contact__form__text {
        height: 5rem;
        background-color: #292929;
        border: none;
        border-bottom: 2px solid #F15B3F;
        font-family: inherit;
        font-size: 1.8rem;
        color: #f0eeee;
        padding: 0 2rem;
        text-align: center; }
        .footer__contact__form__text:focus {
          outline: none; }
        .footer__contact__form__text::placeholder {
          opacity: 0; }
        .footer__contact__form__text:not(:placeholder-shown) + label {
          transform: translate(-7rem, -4.2rem);
          transition: all .4s; }
          @media only screen and (max-width: 31.25em) {
            .footer__contact__form__text:not(:placeholder-shown) + label {
              transform: translate(-5rem, -4.2rem); } }
        .footer__contact__form__text:focus + label {
          transform: translate(-7rem, -4.2rem);
          transition: all .4s; }
          @media only screen and (max-width: 31.25em) {
            .footer__contact__form__text:focus + label {
              transform: translate(-5rem, -4.2rem); } }
      .footer__contact__form__area {
        font-family: inherit;
        height: 15rem;
        background-color: #292929;
        border: 2px solid #F15B3F;
        padding: 1rem;
        font-size: 1.6rem;
        color: #f0eeee;
        resize: none; }
        .footer__contact__form__area:focus {
          outline: none; }
        .footer__contact__form__area::placeholder {
          color: #f0eeee; }
      .footer__contact__form__label {
        transform: translate(2rem, -4.2rem);
        font-size: 2rem;
        color: #f0eeee;
        transition: all .4s; }
    .footer__contact__form__submit {
      margin-left: 5rem;
      font-family: inherit;
      text-transform: uppercase;
      color: #f0eeee;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 1.6rem;
      background: transparent;
      border: 2px solid #F15B3F;
      padding: 1.5rem 4rem;
      transition: all .2s;
      box-shadow: 2px 5px 10px #121212;
      cursor: pointer; }
      .footer__contact__form__submit:focus {
        outline: none; }
      .footer__contact__form__submit:hover {
        transform: translateY(-0.3rem);
        box-shadow: 2px 7px 20px #121212; }
      .footer__contact__form__submit:active {
        transform: translateY(0rem);
        box-shadow: 2px 5px 10px #121212; }
      @media only screen and (max-width: 50em) {
        .footer__contact__form__submit {
          margin-left: 0;
          margin-top: 3rem; } }
      @media only screen and (max-width: 25em) {
        .footer__contact__form__submit {
          margin-left: -1.7rem; } }
  .footer__container {
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #D1E8E2;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .footer__container {
        flex-direction: column; } }
    .footer__container__left {
      flex: 0 0 33%; }
      .footer__container__left__copy {
        font-size: 1.8rem; }
    .footer__container__center {
      flex: 0 0 33%;
      display: flex;
      justify-content: space-evenly; }
      @media only screen and (max-width: 50em) {
        .footer__container__center {
          width: 90%; } }
      .footer__container__center__svg {
        height: 3rem;
        width: 3rem;
        fill: #D1E8E2; }
    .footer__container__right {
      flex: 0 0 33%; }
      .footer__container__right__email {
        font-size: 1.8rem; }
  .footer__icon-facebook {
    transition: all .3s; }
    .footer__icon-facebook:hover {
      fill: #3B5998;
      transform: scale(1.2); }
  .footer__icon-instagram {
    transition: all .3s; }
    .footer__icon-instagram:hover {
      fill: #c32aa3;
      transform: scale(1.2); }
  .footer__icon-linkedin {
    transition: all .3s; }
    .footer__icon-linkedin:hover {
      fill: #007bb5;
      transform: scale(1.2); }
  .footer__icon-mail {
    transition: all .3s; }
    .footer__icon-mail:hover {
      fill: #00b489;
      transform: scale(1.2); }

.about {
  padding-top: 20rem;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    .about {
      padding: 6rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 4rem 0; } }
  .about__box {
    align-self: center;
    color: #f0eeee;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 5rem; }
    @media only screen and (max-width: 62.5em) {
      .about__box {
        padding-bottom: 0; } }
    .about__box__header {
      text-transform: capitalize;
      font-size: 7rem;
      padding: 10rem 0;
      white-space: nowrap;
      text-shadow: -3rem -3rem 1rem #333; }
      @media only screen and (max-width: 112.5em) {
        .about__box__header {
          font-size: 6rem; } }
      @media only screen and (max-width: 87.5em) {
        .about__box__header {
          font-size: 5rem; } }
      @media only screen and (max-width: 62.5em) {
        .about__box__header {
          padding: 0 5rem;
          font-size: 4.5rem; } }
      @media only screen and (max-width: 56.25em) {
        .about__box__header {
          font-size: 4.3rem; } }
      @media only screen and (max-width: 50em) {
        .about__box__header {
          white-space: pre-wrap;
          font-size: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .about__box__header {
          font-size: 3rem; } }
      @media only screen and (max-width: 31.25em) {
        .about__box__header {
          text-shadow: -1rem -1rem 5px #333; } }
  .about__me {
    color: #f0eeee;
    height: 30vh;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 62.5em) {
      .about__me {
        margin: 6rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .about__me {
        margin: 4rem 0; } }
    .about__me__box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 5rem;
      transition: all 2s;
      transition-delay: 1s;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff; }
      .about__me__box.active {
        border-top: 1px solid #F15B3F;
        border-bottom: 1px solid #F15B3F; }
      @media only screen and (max-width: 62.5em) {
        .about__me__box {
          flex-direction: column; } }
      @media only screen and (max-width: 50em) {
        .about__me__box {
          padding: 2rem;
          align-items: center; } }
      .about__me__box__header {
        flex: 0 0 30%;
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 2;
        transform: translateX(-15rem);
        opacity: 0;
        transition: all .5s;
        padding: 1rem; }
        .about__me__box__header.active {
          transform: translateX(0rem);
          opacity: 1; }
        @media only screen and (max-width: 62.5em) {
          .about__me__box__header {
            width: 100%;
            text-align: center;
            padding-bottom: 5rem;
            font-size: 3.5rem; } }
        @media only screen and (max-width: 50em) {
          .about__me__box__header {
            margin-top: 4rem; } }
        @media only screen and (max-width: 37.5em) {
          .about__me__box__header {
            flex: 0 0 80%;
            line-height: 1.2;
            font-size: 2rem;
            padding-bottom: 2rem; } }
      .about__me__box__text {
        margin-left: 5rem;
        flex: 0 0 55%;
        font-size: 2rem;
        letter-spacing: 1px;
        line-height: 2;
        text-align: right;
        transform: translateX(15rem);
        opacity: 0;
        transition: all .5s;
        padding: 1rem; }
        .about__me__box__text.active {
          transform: translateX(0);
          opacity: 1; }
        @media only screen and (max-width: 50em) {
          .about__me__box__text {
            line-height: 1.2;
            font-size: 1.6rem;
            text-align: center;
            margin-left: 0; } }
        @media only screen and (max-width: 37.5em) {
          .about__me__box__text {
            width: 100%;
            font-size: 1.4rem; } }

.about__s {
  align-self: flex-end;
  width: 85%;
  padding-right: 5rem;
  padding-bottom: 10rem;
  margin-top: 5rem;
  margin-right: 5rem; }
  @media only screen and (max-width: 62.5em) {
    .about__s {
      align-self: center;
      padding-right: 0;
      width: 90%;
      margin-right: 0; } }
  .about__s__num {
    display: none; }
  .about__s__box {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .about__s__box__line {
      height: 2px;
      background-color: #fff;
      width: 0;
      transition: all 1.5s; }
      .about__s__box__line.active {
        width: 100%; }
    .about__s__box__bottom {
      display: flex;
      padding-top: 4rem;
      justify-content: space-between;
      align-items: flex-start; }
      @media only screen and (max-width: 62.5em) {
        .about__s__box__bottom {
          flex-direction: column-reverse;
          align-items: center; } }
      .about__s__box__bottom__left {
        overflow: hidden;
        flex: 0 0 75%; }
        @media only screen and (max-width: 62.5em) {
          .about__s__box__bottom__left {
            padding-bottom: 3rem; } }
        .about__s__box__bottom__left__div {
          overflow: hidden;
          height: 3.8rem;
          font-size: 3.5rem;
          padding-right: 3rem; }
          @media only screen and (max-width: 112.5em) {
            .about__s__box__bottom__left__div {
              font-size: 2.8rem;
              padding-right: 0; } }
          @media only screen and (max-width: 87.5em) {
            .about__s__box__bottom__left__div {
              font-size: 2.4rem;
              padding-right: 0; } }
          @media only screen and (max-width: 75em) {
            .about__s__box__bottom__left__div {
              font-size: 2.3rem;
              padding-right: 0; } }
          @media only screen and (max-width: 43.75em) {
            .about__s__box__bottom__left__div {
              font-size: 2rem;
              padding-right: 0; } }
          @media only screen and (max-width: 37.5em) {
            .about__s__box__bottom__left__div {
              font-size: 1.8rem; } }
          @media only screen and (max-width: 31.25em) {
            .about__s__box__bottom__left__div {
              font-size: 1.6rem; } }
          @media only screen and (max-width: 25em) {
            .about__s__box__bottom__left__div {
              font-size: 1.4rem; } }
        .about__s__box__bottom__left__span {
          display: block;
          height: 3.8rem;
          text-align: left;
          line-height: .9;
          white-space: nowrap;
          color: #fff;
          transform: translateY(7rem);
          transition: all 1.5s; }
          @media only screen and (max-width: 62.5em) {
            .about__s__box__bottom__left__span {
              text-align: center; } }
          .about__s__box__bottom__left__span.active {
            transform: translateY(0rem); }
      .about__s__box__bottom__right {
        flex: 0 0 25%; }
        @media only screen and (max-width: 62.5em) {
          .about__s__box__bottom__right {
            padding-bottom: 3rem; } }
        .about__s__box__bottom__right__top-1 {
          display: block;
          width: 100%;
          height: 23rem;
          z-index: 15;
          position: relative;
          background-image: url("/img/test/html-main2.png");
          background-position: center;
          background-size: cover;
          margin-bottom: 2rem; }
        .about__s__box__bottom__right__top-2 {
          display: block;
          width: 100%;
          height: 23rem;
          z-index: 15;
          position: relative;
          background-image: url("/img/test/css-main1.png");
          background-position: center;
          background-size: cover;
          margin-bottom: 2rem; }
        .about__s__box__bottom__right__top-3 {
          display: block;
          width: 100%;
          height: 23rem;
          z-index: 15;
          position: relative;
          background-image: url("/img/test/javascript-main3.png");
          background-position: center;
          background-size: cover;
          margin-bottom: 2rem; }
        .about__s__box__bottom__right__top-4 {
          display: block;
          width: 100%;
          height: 23rem;
          z-index: 15;
          position: relative;
          background-image: url("/img/test/node-main1.png");
          background-position: center;
          background-size: cover;
          margin-bottom: 2rem; }
        .about__s__box__bottom__right__top-5 {
          display: block;
          width: 100%;
          height: 23rem;
          z-index: 15;
          position: relative;
          background-image: url("/img/test/react-main1.png");
          background-position: center;
          background-size: cover;
          margin-bottom: 2rem; }
        .about__s__box__bottom__right__cover {
          display: block;
          height: 100%;
          width: 100%;
          background-color: #121212;
          position: absolute;
          transition: all 1.5s; }
          .about__s__box__bottom__right__cover.active {
            height: 0; }
      .about__s__box__bottom__bot {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .about__s__box__bottom__bot__icon {
          fill: #777;
          width: 2rem;
          height: 2rem;
          opacity: 0;
          visibility: hidden;
          transition: all 1s;
          margin-right: 1rem; }
          .about__s__box__bottom__bot__icon.active {
            opacity: 1;
            visibility: visible; }
          .about__s__box__bottom__bot__icon.active1 {
            fill: #F15B3F; }

@-webkit-keyframes drop {
  0% {
    transform: scale(0.9); }
  60% {
    transform: scale(1.2);
    box-shadow: 0 0 0 5rem rgba(12, 51, 71, 0); }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(12, 51, 71, 0); } }
