.about {
    padding: 15rem 0;
    background-color: $color-grey-primary;
    display: flex;
    flex-direction: column;
    position: relative;

    &__box {
        padding-bottom: 5rem;
        align-self: center;
        color: $color-grey-dark-2;
        font-size: 3rem;
        position: relative;
        

        &__header {
            text-transform: capitalize;
            font-size: 5rem;
            position: absolute;
            white-space: nowrap;
            left: 50%;
            transform: translate(-50%, -50%);
    
            &-2 {
                white-space: nowrap;
                position: absolute;
                left: 50%;
                font-size: 3.4rem;
                transform: translate(-60%, -110%);
                filter: opacity(5%);
            }
        }
    }


    &__skills {

        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;

        &__box {
            height: 10rem;
            overflow: hidden;
            margin: 10rem 0;
            position: relative;
            width: 50%;
            cursor: pointer;

            &__percent {
                font-size: 10rem;
                line-height: .8;
                transition-delay: .6s;
                z-index: 0;
                z-index: 2.5;


                &.active {
                    // visibility:visible;
                    // opacity: 1;
                }
            }

            &__teck {
                font-size: 10rem;
                line-height: .8;
                z-index: 4;
                transition-delay: .6s;
                visibility:visible;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                visibility: visible;
                transition-delay: 2s;
                
                transition: .7s;

                &.active {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            &__cover1 {
                z-index: 3;
                display: block;
                position: absolute;
                top: 0;
                left: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary;
                transition: all .5s;
                transition-delay: .2s;
                transform: skew(40deg);
                // filter: opacity(33%);

                &.active {
                    width: 0;
                }
            }

            &__cover2 {
                position: relative;
                z-index: 2;
                display: inline-block;
                position: absolute;
                top: 0;
                left: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary-b;
                transition: all .5s;
                transition-delay: .4s;
                transform: skew(40deg);
                filter: opacity(66%);
      
                &.active {
                    width: 0;
                }              
            }

            &__cover3 {
                z-index: 1;
                position: relative;
                display: inline-block;
                position: absolute;
                top: 0;
                left: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary-c;
                transition: all .5s;
                transition-delay: .6s;
                transform: skew(40deg);
                filter: opacity(100%);
      
                &.active {
                    width: 0;
                }              
            }

            &__cover4 {
                z-index: 3;
                display: block;
                position: absolute;
                top: 0;
                right: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary;
                transition: all .5s;
                transition-delay: .2s;
                transform: skew(40deg);
                // filter: opacity(33%);

                &.active {
                    width: 0;
                }
            }

            &__cover5 {
                z-index: 2;
                display: inline-block;
                position: absolute;
                top: 0;
                right: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary-b;
                transition: all .5s;
                transition-delay: .4s;
                transform: skew(40deg);
                filter: opacity(66%);
      
                &.active {
                    width: 0;
                }              
            }

            &__cover6 {
                z-index: 1;
                display: inline-block;
                position: absolute;
                top: 0;
                right: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary-c;
                transition: all .5s;
                transition-delay: .6s;
                transform: skew(40deg);
                filter: opacity(100%);
      
                &.active {
                    width: 0;
                }              
            }
        }
    }

    &__me {
        color: $color-grey-light-3;
        // border: 2px solid #fff;
        margin-top: 10rem;

        &__box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5rem;


            &__header {
                flex: 0 0 30%;
                font-size: 4rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                line-height: 2;

                transform: translateX(-15rem);
                opacity: 0;
                transition: all 1s;

                &.active {
                    transform: translateX(0rem);
                    opacity: 1;
                }
            }

            &__text {
                flex: 0 0 60%;
                font-family: 'Merriweather', serif;
                font-size: 1.8rem;
                letter-spacing: 1px;
                line-height: 2.5;
                text-align: center;

                transform: translateX(15rem);
                opacity: 0;
                transition: all 1s;

                &.active {
                    transform: translateX(0);
                    opacity: 1;
                }

            }
        }
    }
}

@-webkit-keyframes pulse {
    
    0% {
        @include scale(.9);
    }

    70% {
        @include scale(1);
        box-shadow: 0 0 0 5rem rgba($color-blue-3, 0);
    }

    100% {
        @include scale(.9);
        box-shadow: 0 0 0 0 rgba($color-blue-3, 0);
    }
}

@-webkit-keyframes rot {
    
}

@keyframes orbit2 {
	from { 	transform: rotate(0deg) translateX(2rem) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(2rem) rotate(-360deg); }
}

@keyframes orbit3 {
	from { 	transform: rotate(0deg) translateX(1.5rem) rotate(-360deg); }
	to   {  transform: rotate(-360deg) translateX(1.5rem) rotate(0deg); }
}