.about {
    padding: 15rem 0;
    background-color: $color-grey-primary;
    display: flex;
    flex-direction: column;
    position: relative;

    @media only screen and (max-width: $bp-large) {
        padding: 6rem 0;
    } 

    @media only screen and (max-width: $bp-small) {
        padding: 4rem 0;
    } 

    &__box {
        padding-bottom: 5rem;
        align-self: center;
        color: $color-grey-light-3;
        font-size: 3rem;
        position: relative;
        width: 100%;
        text-align: center;

        @media only screen and (max-width: $bp-large) {
            padding-bottom: 0;
         } 

        &__header {
            text-transform: capitalize;
            font-size: 5rem;
            padding: 5rem;
            white-space: nowrap;
            text-shadow: -3rem -3rem 1rem $color-grey-dark-1;

            @media only screen and (max-width: $bp-large) {
               padding: 0 5rem;
            } 

            @media only screen and (max-width: $bp-medium) {
                white-space: pre-wrap;
                font-size: 4rem;
            } 

            @media only screen and (max-width: $bp-small) {
                font-size: 3rem;
            } 

            @media only screen and (max-width: $bp-smaller){
                text-shadow: -1rem -1rem 5px $color-grey-dark-1;
            }
        }
    }


    &__certificate {
        width: calc(100% - 10rem);
        margin-left: 10rem;
        display: flex;
        justify-content: space-around;

        &__box {
            color: $color-grey-light-3;
            flex: 0 0 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:active {
                color: inherit;
            }

            &__header {
                padding-bottom: 4rem;
                font-size: 4rem;


            }

            &__inner {

            }

            &__img {
                width: 100%;
            }
        }
    }

    &__skills {
        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        } 

        &__box {
            padding: 3rem;
            height: 10rem;
            margin: 15rem 0;
            position: relative;
            width: 50%;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;

            &:first-child {
                margin-bottom: 10rem;

                @media only screen and (max-width: $bp-large) {
                    margin: 8rem 0;
                } 
    
                @media only screen and (max-width: $bp-medium){
                    margin: 6rem 0;
                }
    
                @media only screen and (max-width: $bp-small) {
                    margin: 4rem 0;
                } 

                @media only screen and (max-width: $bp-small) { 
                    margin: 2rem;
                } 
            }

            @media only screen and (max-width: $bp-large) {
                margin: 8rem 0;
            } 

            @media only screen and (max-width: $bp-medium){
                margin: 6rem 0;
            }

            @media only screen and (max-width: $bp-small) {
                margin: 4rem 0;
            } 

            &__small {
                margin-top: 12rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: relative;

                @media only screen and (max-width: $bp-medium){
                    margin: 8rem 0;
                }

                
                @media only screen and (max-width: $bp-smaller){
                    display: none;
                }
    
            

                &__box {
                    flex: 0 0 20%;

                    &:not(:last-child) {
                        margin-right: 2rem;
                    }

                    @media only screen and (max-width: $bp-largest) {
                        flex: 0 0 30%;
                    } 

                    @media only screen and (max-width: $bp-medium){
                        flex: 0 0 40%;
                    }
                }

                &__img {
                    width: 100%;
                    filter: grayscale(100%);
                }

                &__cover {
                    background-color: $color-grey-primary;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    transition: all .5s;

                    @media only screen and (max-width: $bp-large){
                        width: 150%;
                    }

                    &.active {
                        height: 0;
                    }
                }
            }


            &__percent {
                font-size: 10rem;
                line-height: .8;
                transition-delay: .6s;
                z-index: 0;
                z-index: 2.5;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);

                @media only screen and (max-width: $bp-large) {
                    font-size: 8rem;
                } 

                @media only screen and (max-width: $bp-medium) {
                    font-size: 7rem;
                } 

                @media only screen and (max-width: $bp-small) {
                    font-size: 5rem;
                } 

                @media only screen and (max-width: $bp-small) { 
                    font-size: 4rem;
                } 
            }

            &__teck {
                position: absolute;
                font-size: 10rem;
                line-height: .8;
                z-index: 4;
                transition-delay: .6s;
                visibility:visible;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                visibility: visible;
                transition-delay: 2s;
                transition: .7s;

                &.active {
                    opacity: 0;
                    visibility: hidden;
                }

                @media only screen and (max-width: $bp-large) {
                    font-size: 8rem;
                } 

                @media only screen and (max-width: $bp-medium) {
                    font-size: 7rem;
                } 

                @media only screen and (max-width: $bp-small) {
                    font-size: 5rem;
                } 

                @media only screen and (max-width: $bp-small) { 
                    font-size: 4rem;
                } 
            }

            &__cover1 {
                z-index: 3;
                display: block;
                position: absolute;
                top: 0;
                left: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary;
                transition: all .5s;
                transition-delay: .2s;
                transform: skew(40deg);
                -webkit-tap-highlight-color: transparent;

                &.active {
                    width: 0;
                }

                @media only screen and (max-width: $bp-medium) {
                    width: 80%;
                    height: 10rem;
                    top: 20%;
                } 
            }

            &__cover2 {
                position: relative;
                z-index: 2;
                display: inline-block;
                position: absolute;
                top: 0;
                left: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary-b;
                transition: all .5s;
                transition-delay: .4s;
                transform: skew(40deg);
                filter: opacity(66%);
                -webkit-tap-highlight-color: transparent;
      
                &.active {
                    width: 0;
                }       
                
                @media only screen and (max-width: $bp-medium) {
                    width: 80%;
                    height: 10rem;
                    top: 20%;
                } 
            }

            &__cover3 {
                z-index: 1;
                position: relative;
                display: inline-block;
                position: absolute;
                top: 0;
                left: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary-c;
                transition: all .5s;
                transition-delay: .6s;
                transform: skew(40deg);
                filter: opacity(100%);
                -webkit-tap-highlight-color: transparent;
      
                &.active {
                    width: 0;
                }   
                
                @media only screen and (max-width: $bp-medium) {
                    width: 80%;
                    height: 10rem;
                    top: 20%;
                } 
            }

            &__cover4 {
                z-index: 3;
                display: block;
                position: absolute;
                top: 0;
                right: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary;
                transition: all .5s;
                transition-delay: .2s;
                transform: skew(40deg);

                &.active {
                    width: 0;
                }

                @media only screen and (max-width: $bp-medium) {
                    width: 80%;
                    height: 10rem;
                    top: 20%;
                } 
            }

            &__cover5 {
                z-index: 2;
                display: inline-block;
                position: absolute;
                top: 0;
                right: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary-b;
                transition: all .5s;
                transition-delay: .4s;
                transform: skew(40deg);
                filter: opacity(66%);
      
                &.active {
                    width: 0;
                }   
                
                @media only screen and (max-width: $bp-medium) {
                    width: 80%;
                    height: 10rem;
                    top: 20%;
                } 
            }

            &__cover6 {
                z-index: 1;
                display: inline-block;
                position: absolute;
                top: 0;
                right: -10%;
                width: 60%;
                height: 15rem;
                background-color: $color-grey-primary-c;
                transition: all .5s;
                transition-delay: .6s;
                transform: skew(40deg);
                filter: opacity(100%);
      
                &.active {
                    width: 0;
                }       
                
                @media only screen and (max-width: $bp-medium) {
                    width: 80%;
                    height: 10rem;
                    top: 20%;
                } 
            }
        }
    }

    &__me {
        color: $color-grey-light-3;
        margin-top: 15rem;

        @media only screen and (max-width: $bp-large) {
            margin: 6rem 0;
        } 

        @media only screen and (max-width: $bp-small) {
            margin: 4rem 0;
        } 

        &__box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5rem;


            @media only screen and (max-width: $bp-mega) {
               
                align-items: flex-start;
            } 

            @media only screen and (max-width: $bp-large) {
                flex-direction: column;
            } 

            @media only screen and (max-width: $bp-medium) { 
                padding: 2rem;
             } 

            &__header {
                flex: 0 0 30%;
                font-size: 4rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                line-height: 2;
                transform: translateX(-15rem);
                opacity: 0;
                transition: all .5s;

                &.active {
                    transform: translateX(0rem);
                    opacity: 1;
                }

                @media only screen and (max-width: $bp-large) {
                    width: 100%;
                    text-align: center;
                    padding-bottom: 5rem;
                    font-size: 3.5rem;
                } 

                @media only screen and (max-width: $bp-medium){
                    margin-top: 4rem;
                }
    
                @media only screen and (max-width: $bp-small) {
                    flex: 0 0 80%;
                    line-height: 1.2;
                    font-size: 2rem;
                    padding-bottom: 2rem;
                } 
            }

            &__text {
                flex: 0 0 60%;
                font-size: 1.8rem;
                letter-spacing: 1px;
                line-height: 2.5;
                text-align: center;
                transform: translateX(15rem);
                opacity: 0;
                transition: all .5s;

                &.active {
                    transform: translateX(0);
                    opacity: 1;
                }

                @media only screen and (max-width: $bp-medium) {
                    line-height: 1.2;
                    font-size: 1.6rem;
                } 

                @media only screen and (max-width: $bp-small) {
                    width: 100%;
                    font-size: 1.4rem;
                } 

            }
        }
    }
}

// @-webkit-keyframes pulse {
    
//     0% {
//         @include scale(.9);
//     }

//     70% {
//         @include scale(1);
//         box-shadow: 0 0 0 5rem rgba($color-blue-3, 0);
//     }

//     100% {
//         @include scale(.9);
//         box-shadow: 0 0 0 0 rgba($color-blue-3, 0);
//     }
// }

// @-webkit-keyframes rot {
    
// }

// @keyframes orbit2 {
// 	from { 	transform: rotate(0deg) translateX(2rem) rotate(0deg); }
// 	to   {  transform: rotate(360deg) translateX(2rem) rotate(-360deg); }
// }

// @keyframes orbit3 {
// 	from { 	transform: rotate(0deg) translateX(1.5rem) rotate(-360deg); }
// 	to   {  transform: rotate(-360deg) translateX(1.5rem) rotate(0deg); }
// }